@font-face {
    font-family: "Monospace 821 Bold BT";
    src: url("../fonts/monospace-821-bold-bt.ttf") format("woff"), url("../fonts/monospace-821-bold-bt.ttf") format("opentype"), url("../fonts/monospace-821-bold-bt.ttf") format("truetype");
}

.text-area {
    background-color: rgb(48, 48, 48), rgb(48, 48, 48);
    color: rgb(107, 249, 177);
    -fx-background-color: rgb(48, 48, 48), rgb(48, 48, 48);
    -fx-text-fill: rgb(107, 249, 177);
}

.text-area .content {
    background-color: rgb(48, 48, 48);
    color: rgb(107, 249, 177);
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: rgb(107, 249, 177);
}

.text-area:focused .content {
    background-color: rgb(48, 48, 48);
    color: rgb(107, 249, 177);
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: rgb(107, 249, 177);
}

#chatArea .content {
    background-color: rgb(48, 48, 48);
    color: rgb(107, 249, 177);
    -fx-background-color: rgb(48, 48, 48);
    -fx-text-fill: rgb(107, 249, 177);
}

#chatField .content {
    background-color: rgb(42, 42, 42);
    color: rgb(107, 249, 177);
    -fx-background-color: rgb(42, 42, 42);
    -fx-text-fill: rgb(107, 249, 177);
    padding: 10px;
    -fx-padding: 10px;
}

#btnSend,
#btnSkip {
    background-color: rgb(107, 249, 177);
    -fx-background-color: rgb(107, 249, 177);
    border-color: rgb(42, 42, 42);
    -fx-border-color: rgb(42, 42, 42);
    border-width: 0px 2px 2px 0px;
    -fx-border-width: 0px 2px 2px 0px;
    -fx-text-fill: rgb(42, 42, 42);
}

#btnSend:hover,
#btnSkip:hover {
    background-color: rgb(100, 242, 170);
    -fx-background-color: rgb(100, 242, 170);
    -fx-text-fill: rgb(38, 38, 38);
    cursor: hand;
    -fx-cursor: hand;
}

#lblTimer {
    color: rgb(107, 249, 177);
    -fx-text-fill: rgb(107, 249, 177);
}

#txtIntro *.text {
    -fx-text-alignment: center;
    color: white;
    -fx-text-fill: white;
}

#textIntro {
    color: white;
    -fx-text-fill: white;
}

#chemGeneral {
    opacity: 0;
    -fx-opacity: 0;
}

#chemGeneral:hover {
    opacity: 0.4;
    -fx-opacity: 0.4;
    cursor: hand;
    -fx-cursor: hand;
}

#circuitBox {
    opacity: 0;
    -fx-opacity: 0;
}

#circuitBox:hover {
    opacity: 0.4;
    -fx-opacity: 0.4;
    cursor: hand;
    -fx-cursor: hand;
}

#timeMachine {
    opacity: 0;
    -fx-opacity: 0;
}

#timeMachine:hover {
    opacity: 0.4;
    -fx-opacity: 0.4;
    cursor: hand;
    -fx-cursor: hand;
}

.check-box:hover {
    cursor: hand;
    -fx-cursor: hand;
}